<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>


<% if current_user.has_role? :organizer %> <!--User is Organizer-->

This is an organizer
<%= link_to 'Go to Dashboard', organizer_path(current_user.id) %>

<% else %>
This is an organizer
<%= link_to 'Goto To Events', events_path %>  <!--User is Basic Attendee-->

<% end %>
