<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>


<% if current_user.has_role? :organizer %> <!--User is Organizer-->
  If i can see this i'm an organizer

<% else %>

<%= link_to 'To Events', events_path %>  <!--User is Basic Attendee-->

<% end %>
