// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.center {
    display: block;
    margin: 0 auto;
}

.center-form {
  margin-left:75px;
  margin-right:75px;
}

.card-action-attendee-count {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-title {
  margin-right: 15px;
  margin-left: 15px;
}

.timeline {
   /* Set the margin-left and margin-right automatically set */
   margin: 0 auto;
   margin-left: 10%;
   margin-right: 10%;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
  height: 225px;
  width: 100%;
}

.bold {
  weight: bold;
}

.btn {
  width: 50%;
   /* Set the margin-left and margin-right automatically set */
   margin: 0 auto;
}
