// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.center {
    display: block;
    margin: 0 auto;
}

.red-gathr{
  background-color: #D4422A !important;
}

.red-gathr-font{
  color: #D4422A !important;
}

.orange-gathr{
  background-color: #EC7F58;
}

.center-form {
  margin-left:75px;
  margin-right:75px;
}

.card-action-attendee-count {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-title {
  margin-right: 15px;
  margin-left: 15px;
}

.img-perk {
  //padding-top: 25px !important;
}

.timeline {
   /* Set the margin-left and margin-right automatically set */
   margin: 0 auto;
   margin-left: 0%;
   margin-right: 0%;
   margin-top: 10px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
  height: 245px;
  width: 100%;
}

.attendance-count{
  font-size: 20px;
}

.card-left{
  width: 80%;
  font-size: 10px;
  padding: 10px;
}

.card-right-border{
  height: 100%;
  width: 20%;
}

.card-title-hm{
  font-size: 16px;
  padding-bottom: 10px;
}

.title-my{
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.card-address{
  margin-left: 10px;
  font-size: 14px;
  padding-bottom: 5px;
}

.card-time{
  margin-left: 40px;
  font-size: 14px;
}

.card-desc{
  margin-left: 10px;
  font-size: 16px;
  padding: 10px;
  text-overflow:ellipsis;
}

.bold {
  weight: bold;
}

.btn-filter{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.btn {
  width: 50%;
   /* Set the margin-left and margin-right automatically set */
   margin: 0 auto;
}

.btn-hm {
  height: 50%;
  width: 100%;
}

.cv-parent {
  position: relative;
}
.cv-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.img-center {
  margin-left: 25%;
  margin-right: 25%;
 }
.center-me {
  display:block;
  margin:0 auto;
}

.sideNav-padding{
  padding-left: 240px;
}

a:hover, a:focus {
    color: #005580;
    text-decoration: underline;
}

/* Menu bar*/
#cssmenu {
  background: white;
  margin-bottom: 10px;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  background: white;
  width: auto;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
