// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link-to-signup{
  margin-top: 30px;
}

.btn-login{
  margin-top: 10px;
}

.center-form-h{
  margin-left: 25px;
  margin-right: 25px;
}
