// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.nav-profile {
  color: black;
}

.btn-create {
  margin-right: 25px;
  font-size: 25px;
}

.color-gathr {
  background-color: #D4422A !important;
  color: white;
}

.orange-gathr{
  background-color: #EC7F58 !important;
}
